# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

CLIENT_ID="Ad2vh1aDBQXIOBWRn6nmh4L29XWLmAdVpPA0soMlGf6rh4OxRSRcitkdLizfVBPpg_ynet21R0WJw-FI"
APP_SECRET="EI9nYLLKGkNwRc_hvZ0GA85YYIRdpcCup8C-noY7oQ1SWxdlnoCM82D8eD4OJADqx8Bax9vg9tgSZUHR"
